@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model e_comm.ViewModels.Login.ChangePasswordVM
@{ Layout = null; }


<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>WATCHO - Change Password</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <link rel="stylesheet" href="../css/Login/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/Login/fontawesome-all.css">
    <link href="//fonts.googleapis.com/css?family=Reem+Kufi&amp;subset=arabic" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

</head>
<body>
    <h1>
        W A T C H O
    </h1>
    <div class="sub-main-w3">
        <form id="login" asp-controller="Login" asp-action="ConfirmNewPassword">
            <div class="form-style-agile">
                <label>
                    Password
                    <i class="fas fa-unlock-alt"></i>
                </label>

                <input placeholder="Enter new password here" name="Password" type="password" required="">
                <small class="password-error-message"></small>
            </div>

            <div class="form-style-agile">
                <label>
                    Password
                    <i class="fas fa-unlock-alt"></i>
                </label>

                <input placeholder="Confirm your password" name="ConfirmPassword" type="password" required="">
                <small class="check-password-error-message"></small>
            </div>
                 
            <input type="submit" value="Finish">

        </form>
    </div>
    <script src="../js/Login/jquery.min.js"></script>
    <script src="../js/Login/jquery.validate.min.js"></script>
    <script src="../js/Login/validate.js"></script>
</body>
</html>
